*{
	text-align:left;
	margin:0 auto 0 auto;
}
#3b{
body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:17px;
	font-family:comic sans;
	background-color:#FFFF66;
	
	
}

.blocks{
	float:left;font-size:40px;text-align:center;line-height:75px;display:inline-block;
	width:75px;height:75px;margin:5px 5px 5px 5px;background-color:red;
}

#container{
	width:1060px;
}

#timer{
	display:inline;
	float:left;
	height:50px;
	border:solid #999999;
	margin-right:180px;
	width:200px;
	font-size:30px;padding-left:20px;background-color:#ADFF2F;clear:left;
}
#header{
	width:1060px;
	height:250px;
	margin-top:50px;
}

#leaderboardsDisplay{
display:inline;font-size:20px;float:right;height:200px;
padding:25px 0px 0px 25px;border-radius:10px;border-style:dashed;margin-right:75px;
width:150px;border-color:#8B4513;background-color:#ADFF2F;clear:right
}

#button{
height:50px;width:200px;font-size:30px;float:left;

}
#row{
clear:both;
}


#4b{

}
@media screen and (max-width: 560px){
	body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:17px;
	font-family:comic sans;
	background-color:#FFFF66;
	
	
}
	#3b{
	margin:0;
	border:solid #A52A2A 2px;
	float:left;
	clear:both;
	cursor:grabbing;
	}
	.blocks{
	float:left;font-size:24px;text-align:center;line-height:45px;display:inline-block;
	width:45px;height:45px;margin:3px 3px 3px 3px;background-color:red;
	}
	#row{clear:both;}
	#4b{
	margin:0;
	border:solid #A52A2A 2px;
	cursor:grabbing;
	}
	#3b{
	display:none;margin:0;border:solid #A52A2A 2px;clear:both;float:left;cursor:grabbing;
	width:480px;
	}
	
	#button{
	height:30px;
	width:120px;
	font-size:18px;
	display:block;
	clear:both;
	margin-top:10px;
	}
	#leaderboardsDisplay{
	font-size:12px;
	height:120px;
	padding:15px 0 0 15px;
	border-radius:6px;
	margin-top:10px;
	width:90px;
	clear:both;
	float:left;
	}
	#timer{
		height:30px;
		margin-top:10px;
		width:120px;
		font-size:18px;
		padding-left:12px;
		display:block;
		clear:both;
		
		
	}
	
	#header{
		margin:0px;
	}
	
	
	
	#container{
		width:636px;
	};
	